Binaries
DerivedDataCache
Intermediate
Saved
Debug
Build
ipch
Releases
Plugins/DonAINavigation/Binaries
Plugins/DonAINavigation/Intermediate
Plugins/DonAINavigation/Resources
Plugins/DonAINavigation/DonAINavigation.uplugin
Plugins/DonAINavigation/LICENSE.md
Plugins/DonAINavigation/README.md
*.ipch
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip